{{define "main"}}

	<div class="content">
		<article>
			<h1>{{.Title}}</h1>
			{{.Content}}
		</article>
		<aside class="video">
			<h2>Vidéo ?</h2>

			<iframe src="https://www.youtube.com/embed/{{.Params.youtube}}?autoplay=1" style="width: 100%; border:0;" allowfullscreen="allowfullscreen"></iframe>

			<a href="https://www.youtube.com/watch?v={{.Params.youtube}}">
				{{.Title}}
			</a>
		</aside>
	</div>

{{end}}
