<script>
	{{with .Params.Cover }}
		//
	{{else}}
		var pattern = GeoPattern.generate("{{.Title}}");
		$('.cover').css('background-image', pattern.toDataUrl());
	{{end}}
	$('.cover').on('click', function () {
		$(this).animate({
			height: "+=150"
		}, 1000, "linear")
	})
	$('header').on('click', function () {
		$('.cover').animate({
			height: "5vh"
		}, 1000, "linear")
	})
</script>
{{ with  .OutputFormats.Get "json"}}
	<script>
		var jsonfeedurl = {{ printf `%s` .Permalink }};
		$.getJSON(jsonfeedurl, function (data) {
			// handle mouse over an item
			$('.pagelink').on('mouseover', function () {
				
				var id = $(this).attr('id');
				var jsondata = data.filter(function (e) {
					return e['Path'] == id
				});
				var cover = jsondata[0]['Params']['cover'];
				if (cover) {
					$('#cover').css({
						'background-image': 'url("' + cover + '")'
					})
				}
			});
			});
	</script>
{{end }}
